[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentaskpy = {editable = true, path = "."}
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"
flake8-bugbear = "*"
pep8-naming = "*"
flake8-use-fstring = "*"
flake8-black = "*"

[requires]
python_version = "3.10"
